$sm: rem(576);
$md: rem(826);
$lg: rem(992);
$xl: rem(1200);

$fraunces: 'Fraunces', serif;
$barlow:  'Barlow', sans-serif;

$white: hsl(0, 0%, 100%);
$light-white: hsl(0, 0%, 95%);
$dark-blue: hsl(212, 27%, 19%);
$grey-blue: hsl(232, 10%, 55%);
$yellow: hsl(51 ,100%, 49%);
$soft-red: hsl(7, 99%, 70%);
$dark-green: hsl(167, 40%, 24%);
$dark-blue-heading: hsl(197, 84%, 13%);
$dark-green-p:hsl(166, 30%, 35%);
$dark-blue-p: hsl(198, 62%, 26%);
$grey-medium:hsl(210, 4%, 67%);
$dark-grey-blue:hsl(232, 10%, 55%);
$lighter-cyan: hsl(168, 44%, 70%);
$dark-cyan:hsl(168, 34%, 41%);
$light-yellow: 	hsl(34, 100%, 99%);
